body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 500px;
    background-color: chartreuse;
}

.box
{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}
.box:hover
{
    transform: rotate(180deg) scale(-2);
    background-color: black;
}
.calc
{
    padding-left: 50px;
    margin-top: 35px;
}
#number1,#number3
{
background-color: darkblue;
color: aliceblue;
padding: 4px;
}
#number2,#number4
{
    background-color: darkgreen;
    color: aliceblue;
    padding: 4px;
}
#sub,#submit
{
    background-color: black;
    color: white;
    font-weight: bold;
    
}
#plus,#sup
{
    font-size: xx-large;
    display: flex;
    font-weight: bolder;
}

#primeOrNot
{
    background-color: cyan;
    color: black;
    margin-top: 33px;
    margin-left: 10px;
    padding: 3px;
}

#op
{
    background-color:rgb(78, 13, 184);
    color: aquamarine;
    font-size:larger;
    font-weight: bold;
}
#result,#isPrime
{
    font-weight: bolder;
    font-size: larger;
    
}